body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
	background-color: #ffffff;
}

title-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

p {
  font-size: 20px;
}
a {
  font-size: 20px;
}
br {
  font-size: 20px;
}
i {
  font-size: 20px;
	font-family: courier,arial,helvetica;
}
b {
  font-size: 20px;
}
