body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	background-color: #ffffff;
}

title-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

p {
  font-size: 20px;
}
a {
  font-size: 20px;
}
br {
  font-size: 20px;
}
i {
  font-size: 20px;
	font: Arial;
}
b {
  font-size: 20px;
}
