body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	align-content: center;
	background-color: #ffffff;
}

div {
	background-image: url('UTDbackgroundJPEG.JPG');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	background-size: 100% 100%;
	width: 100%;
	min-height: 500px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

p {
  font-size: 20px;
}
a {
  font-size: 20px;
}
br {
  font-size: 20px;
}
i {
  font-size: 20px;
}
b {
  font-size: 20px;
}
